.custom-input {
    height: 50px !important;
    border-radius: 12px !important;
    border: 1px solid #eee !important;
    background: #fcfcfc !important;
    padding: 0 1.25rem !important;
    transition: 0.3s ease;
}

.custom-input:focus {
    border-color: #dc3545 !important;
    background: #fff !important;
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.1) !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}